.col-6 {
    position:relative;
    width:30%;
    top:0;
    left:0;
     display:inline-block;
   /* background-color: red; */
    border: 2px solid black;
    /* padding:10px; */
    margin: 20px;
}