.result-wrapper {
    display: flex;
    position:relative;
    width:100%;
    height:40px;
    left:0;
    top:0;
    align-content:center;
    justify-content:space-around;
    align-items:center;
}

.result-wrapper__text-description {
    flex-basis: 20%;
     height:5px;
    margin-right: 10px;
    text-align: center;
}

.result-wrapper__paragraf {
    position:absolute;
    top:-15px;
    left:0;
}

.result-wrapper__progress-background {
    flex-basis: 70%;
    background-color:gray;
    position:absolute;
    left:25%;
    top:11px;
    width:72%;
    height:10px;
    margin-left: 10px;
}

.result-wrapper__progress {
    position:relative;
    left:0;
    top:0;
    width:30px;
    height:10px;
    background-color: red;

}